body {
	background-color: orange;
}
a {
	text-decoration: none;
}

#wrapper {
    max-width: 100%;
	margin: 0 auto;
	padding: 5%;
 	background: black;
    color: white;
    width: 500px;
    border: solid #ff4d8d 10px;
    box-sizing: border-box;
    position: absolute; top: 100px; left: 350px;

}

#pics{
    position:relative   ;
    max-width: 450px;
    margin: 0 auto;
    padding: 5%;
    background: gray;
    color: white;

}

#logo {
	text-align: center;
	margin: 0;
}

a:hover{

color:green;


}
#Texas {

    float:left;
    max-width: 550px;
    margin:0 auto;
    font-style:bold;
    background-color: floralwhite;


}